ellipsis()
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
.border-topbottom
  &:before
    border-color #ccc
  &:after
    border-color #ccc
.border-bottom
  &:before
    border-color #ccc